<?xml version="1.0"?>
<config>
    <modules>
        <Kirchbergerknorr_FactFinderExport>
            <version>0.1.0</version>
        </Kirchbergerknorr_FactFinderExport>
    </modules>
    <default>
        <kirchbergerknorr>
            <factfinderexport>
                <enabled>1</enabled>
                <log>1</log>
                <queue>100</queue>
                <cron>0 4 * * 6</cron>
                <export_path>/media/factfinder.csv</export_path>
            </factfinderexport>
        </kirchbergerknorr>
    </default>
    <global>
        <models>
            <factfinderexport>
                <class>Kirchbergerknorr_FactFinderExport_Model</class>
            </factfinderexport>
        </models>
    </global>
    <crontab>
        <jobs>
            <kk_factfinderexport_job>
                <schedule>
                    <config_path>kirchbergerknorr/factfinderexport/cron</config_path>
                </schedule>
                <run>
                    <model>factfinderexport/observer::export</model>
                </run>
            </kk_factfinderexport_job>
        </jobs>
    </crontab>
    <adminhtml>
        <layout>
            <updates>
                <kk_factfinderexport>
                    <file>kk_factfinderexport.xml</file>
                </kk_factfinderexport>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <kirchbergerknorr>
                                            <title>kirchbergerknorr</title>
                                        </kirchbergerknorr>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>